	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/07/2016 15:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.html");
  src: url("../fonts/Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon-2.html") format("woff"),
       url("../fonts/Flaticon-3.html") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg/wp-admin/setup-config.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-air-conditioner:before { content: "\f100"; }
.flaticon-architect-with-helmet:before { content: "\f101"; }
.flaticon-art:before { content: "\f102"; }
.flaticon-axis:before { content: "\f103"; }
.flaticon-bath:before { content: "\f104"; }
.flaticon-bed:before { content: "\f105"; }
.flaticon-big-car-battery:before { content: "\f106"; }
.flaticon-black:before { content: "\f107"; }
.flaticon-blueprint:before { content: "\f108"; }
.flaticon-bricks:before { content: "\f109"; }
.flaticon-bridge:before { content: "\f10a"; }
.flaticon-bridge-1:before { content: "\f10b"; }
.flaticon-bridge-2:before { content: "\f10c"; }
.flaticon-bridge-3:before { content: "\f10d"; }
.flaticon-building:before { content: "\f10e"; }
.flaticon-building-1:before { content: "\f10f"; }
.flaticon-building-2:before { content: "\f110"; }
.flaticon-building-3:before { content: "\f111"; }
.flaticon-building-design-of-lines:before { content: "\f112"; }
.flaticon-building-design-of-lines-1:before { content: "\f113"; }
.flaticon-building-of-antique-design-style-with-two-columns-and-triangular-roof-front:before { content: "\f114"; }
.flaticon-building-with-thin-and-wide-design:before { content: "\f115"; }
.flaticon-buildings-of-straight-lines:before { content: "\f116"; }
.flaticon-business:before { content: "\f117"; }
.flaticon-business-1:before { content: "\f118"; }
.flaticon-business-2:before { content: "\f119"; }
.flaticon-care-about-landscape:before { content: "\f11a"; }
.flaticon-chapiter-design-architectural-detail:before { content: "\f11b"; }
.flaticon-circle:before { content: "\f11c"; }
.flaticon-circle-1:before { content: "\f11d"; }
.flaticon-city:before { content: "\f11e"; }
.flaticon-cityscape:before { content: "\f11f"; }
.flaticon-close:before { content: "\f120"; }
.flaticon-compass:before { content: "\f121"; }
.flaticon-construction:before { content: "\f122"; }
.flaticon-construction-1:before { content: "\f123"; }
.flaticon-construction-2:before { content: "\f124"; }
.flaticon-construction-3:before { content: "\f125"; }
.flaticon-construction-4:before { content: "\f126"; }
.flaticon-construction-5:before { content: "\f127"; }
.flaticon-construction-6:before { content: "\f128"; }
.flaticon-construction-bulldozer:before { content: "\f129"; }
.flaticon-construction-tool-vehicle-with-crane-lifting-materials:before { content: "\f12a"; }
.flaticon-constructor:before { content: "\f12b"; }
.flaticon-constructor-hand-drawn-worker:before { content: "\f12c"; }
.flaticon-constructor-outline:before { content: "\f12d"; }
.flaticon-constructor-with-hard-hat-protection-on-his-head:before { content: "\f12e"; }
.flaticon-constructor-worker-hand-drawn-person:before { content: "\f12f"; }
.flaticon-coordinating-people:before { content: "\f130"; }
.flaticon-crane-transporting-container:before { content: "\f131"; }
.flaticon-customer:before { content: "\f132"; }
.flaticon-customer-testimonial:before { content: "\f133"; }
.flaticon-door-design:before { content: "\f134"; }
.flaticon-door-design-1:before { content: "\f135"; }
.flaticon-draw:before { content: "\f136"; }
.flaticon-drawing:before { content: "\f137"; }
.flaticon-drawing-1:before { content: "\f138"; }
.flaticon-drawing-architecture-project-of-a-house:before { content: "\f139"; }
.flaticon-drawing-house-plan:before { content: "\f13a"; }
.flaticon-economic-architecture-building-of-stacked-containers:before { content: "\f13b"; }
.flaticon-eiffel-tower:before { content: "\f13c"; }
.flaticon-elevator:before { content: "\f13d"; }
.flaticon-engineer:before { content: "\f13e"; }
.flaticon-engineer-1:before { content: "\f13f"; }
.flaticon-engineer-2:before { content: "\f140"; }
.flaticon-engineer-woman:before { content: "\f141"; }
.flaticon-engineer-working:before { content: "\f142"; }
.flaticon-engineering:before { content: "\f143"; }
.flaticon-excavator:before { content: "\f144"; }
.flaticon-fence:before { content: "\f145"; }
.flaticon-fire-extinguisher:before { content: "\f146"; }
.flaticon-garage:before { content: "\f147"; }
.flaticon-greek:before { content: "\f148"; }
.flaticon-group:before { content: "\f149"; }
.flaticon-gym:before { content: "\f14a"; }
.flaticon-house:before { content: "\f14b"; }
.flaticon-house-and-dollar-sign-in-weighing-scale:before { content: "\f14c"; }
.flaticon-house-plan:before { content: "\f14d"; }
.flaticon-house-plan-1:before { content: "\f14e"; }
.flaticon-house-plan-2:before { content: "\f14f"; }
.flaticon-house-plan-3:before { content: "\f150"; }
.flaticon-house-plan-board:before { content: "\f151"; }
.flaticon-image-gallery-view-sign-on-screen-of-a-mobile-phone-outline:before { content: "\f152"; }
.flaticon-interface:before { content: "\f153"; }
.flaticon-interface-1:before { content: "\f154"; }
.flaticon-ladder:before { content: "\f155"; }
.flaticon-left-arrow:before { content: "\f156"; }
.flaticon-left-quote:before { content: "\f157"; }
.flaticon-line:before { content: "\f158"; }
.flaticon-locomotive:before { content: "\f159"; }
.flaticon-map:before { content: "\f15a"; }
.flaticon-measures-plan:before { content: "\f15b"; }
.flaticon-mechanical-engineer:before { content: "\f15c"; }
.flaticon-monument:before { content: "\f15d"; }
.flaticon-new-email-envelope:before { content: "\f15e"; }
.flaticon-people:before { content: "\f15f"; }
.flaticon-person-learning-by-reading:before { content: "\f160"; }
.flaticon-phone:before { content: "\f161"; }
.flaticon-phone-contact:before { content: "\f162"; }
.flaticon-pin:before { content: "\f163"; }
.flaticon-plan:before { content: "\f164"; }
.flaticon-plan-1:before { content: "\f165"; }
.flaticon-plan-of-a-house:before { content: "\f166"; }
.flaticon-playground:before { content: "\f167"; }
.flaticon-plus:before { content: "\f168"; }
.flaticon-projection-screen-with-bar-chart:before { content: "\f169"; }
.flaticon-right-arrow:before { content: "\f16a"; }
.flaticon-river:before { content: "\f16b"; }
.flaticon-road:before { content: "\f16c"; }
.flaticon-road-1:before { content: "\f16d"; }
.flaticon-school-material:before { content: "\f16e"; }
.flaticon-shapes:before { content: "\f16f"; }
.flaticon-signs:before { content: "\f170"; }
.flaticon-skills:before { content: "\f171"; }
.flaticon-sports:before { content: "\f172"; }
.flaticon-square:before { content: "\f173"; }
.flaticon-square-1:before { content: "\f174"; }
.flaticon-square-2:before { content: "\f175"; }
.flaticon-square-3:before { content: "\f176"; }
.flaticon-square-layouting-with-black-square-in-east-area:before { content: "\f177"; }
.flaticon-stairs:before { content: "\f178"; }
.flaticon-suitcase:before { content: "\f179"; }
.flaticon-symbols:before { content: "\f17a"; }
.flaticon-tall-crain:before { content: "\f17b"; }
.flaticon-tap:before { content: "\f17c"; }
.flaticon-technology:before { content: "\f17d"; }
.flaticon-technology-1:before { content: "\f17e"; }
.flaticon-technology-2:before { content: "\f17f"; }
.flaticon-technology-3:before { content: "\f180"; }
.flaticon-think-draw-build:before { content: "\f181"; }
.flaticon-three-layers:before { content: "\f182"; }
.flaticon-tool:before { content: "\f183"; }
.flaticon-trade-center:before { content: "\f184"; }
.flaticon-transport-with-arm-and-scoop:before { content: "\f185"; }
.flaticon-travel:before { content: "\f186"; }
.flaticon-travel-1:before { content: "\f187"; }
.flaticon-trophy:before { content: "\f188"; }
.flaticon-truck-transport-with-construction-materials:before { content: "\f189"; }
.flaticon-tv:before { content: "\f18a"; }
.flaticon-two:before { content: "\f18b"; }
.flaticon-vintage:before { content: "\f18c"; }
.flaticon-vintage-1:before { content: "\f18d"; }
.flaticon-web:before { content: "\f18e"; }